*.md*
venv
todo-list-frontend
postgres_data
.gitignore
.idea
.git
.cache
__pycache__
templates

# Next lines will be commented until solution why tests are not initializing will not be found
# app/**/tests
# app/**/test*.py